section {
  margin: 40px 0;
}

h1 {
  margin: 0 20px;
}

h2 {
  font-size: 18px;
}

ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 20px;
}

img {
  max-width: 100%;
}

.users li {
  opacity: .5;
  cursor: pointer;
}

.users .isSelected {
  opacity: 1;
}
